* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: rgb(245, 248, 255);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.header {
    margin-top: 30px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header-right ul {
    list-style: none;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.header-right a {
    text-decoration: none;
}

.home {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
}

.gray-1 {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400px;
}

.color-2 {
    color: rgb(233, 90, 8);
}

.banner {
    align-items: center;
    margin-top: 10px;
}


.banner-text h4 {
    font-family: Noto Serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.gray-2 {
    font-size: 1.4rem;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-weight: 400px;
}

.banner-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-img img {
    display: block;
    width: 500x;
    height: 100%;
    object-fit: cover;
}

.plant {
    font-family: Noto Serif;
    font-size: 3.2rem;
    font-weight: 700;
}

.plant-section {
    text-align: center;
    margin-top: 40px;
}

.plant-section h3,
p {
    margin-top: 20px;
}

.grid-container {
    text-align: center;
}

.grid-container h4 {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
}

.grid-container img {
    max-width: 220px;
}

.grid-container p {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 15px;
}

.grid-container button {
    all: unset;
    background: rgb(233, 90, 8);
    margin-top: 15px;
    padding: 10px 55px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
}

.plant-lover {
    margin-top: 100px;
    justify-content: space-between;
    gap: 80px;
    align-items: center;

}



.plant-lover-text h3 {
    color: rgb(0, 0, 0);
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
}

.plant-lover-text li {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}

.trusted-badge {
    animation: spin 0.2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.bloom {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../styles/deal_bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.bloom h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.bloom a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.ana {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../styles/deal_ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.ana h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.ana a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.zabo {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../styles/deal_zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 753px;
    height: 423.13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}

.zabo h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.zabo a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
}

.blooms {
    gap: 30px;
    margin-top: 50px;
}

.blooms-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("../styles/news_letter_bg.png");
    margin: auto;
    max-width: 100%;
    height: 533px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.join input {
    width: 644px;
    height: 50px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-right: 0px;
}

.join button {
    all: unset;
    width: 186px;
    height: 50px;
    background: rgb(233, 90, 8);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.footer {
    margin-top: 60px;
    justify-content: space-between;
    padding-bottom: 40px;

}

.footer a {
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
}

.footer ul {
    list-style: none;
}

.footer-logo {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    width: 30%;
}

.link ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-img {
    display: flex;
    width: 216px;
    height: 36px;
    gap: 40px;
}

.plant-lover-img-wrapper {
    position: relative;
    width: 100%;
}


.trusted-badge {
    position: absolute;
    top: -100px;
    left: 80%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    z-index: 10;
}

@media screen and (max-width:576px) {

    .hide-on-mobile {
        display: none;
    }

    .header {
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: start;
    }


    .banner-text {
        text-align: start;
        margin-left: 20px;
    }

    .banner-img {
        margin-bottom: 30px;
    }

    .plant-section {
        text-align: center;
        margin-right: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5px;

    }

    .grid-container img {
        max-width: 150px;
    }

    .grid-container {
        margin-left: 5px;
    }

    .grid-container button {
        padding: 10px 25px;
    }

    .plant-lover {
        flex-direction: column;
        margin-left: 10px;
    }

    .plant-lover-text h3 {
        margin-left: 20px;
    }

    .plant-lover-text li {
        margin-left: 40px;
        margin-right: 20px;
    }

    .blooms {
        flex-direction: column;
    }

    .bloom {
        max-width: 420px;
        margin-left: 30px;
    }

    .ana {
        max-width: 420px;
        margin-left: 30px;
    }

    .zabo {
        max-width: 370px;
        margin-left: 30px;
        height: 206px;
    }

    .zabo h3 {
        color: rgb(255, 255, 255);
        font-family: Noto Serif;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .zabo a {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 600;
    }

    .join {
        max-width: 520px;
        max-height: 275px;
    }

    .join h3 {
        font-size: 2rem;
    }

    .join input {
        width: 255px;
    }

    .join button {
        width: 100px;
    }

    .footer {
        flex-direction: column;
        margin-left: 20px;
        padding-bottom: 40px;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-logo p {
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .footer a {
        margin-left: 20px;
    }

    .link {
        margin-bottom: 20px;
    }

    .flower-store {
        display: block;
        width: px;
        height: 396px;
        object-fit: cover;
    }

    .plant-section {
        margin-left: 20px;
    }

    .footer-img {
        margin-left: 20px;
        margin-top: 30px;
    }
}